alembic
blinker
click
dnspython
email-validator
Flask==2.2.5
Flask-Cors
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
psycopg2-binary
python-dateutil
python-dotenv
six==1.15.0
SQLAlchemy
typing_extensions
Werkzeug
WTForms
